<html>
    <head>
        <title>Schueler</title>
    </head>
    <body>
        <h1>Schueler: </h1>
        <ul>
            <%
                for (student of schueler){
            %>
                    <%= student.vorname %>
                    <%= student.nachname %>
            <%
                }
            %>
        </ul>
        <form action="/new" method="POST">
            Vorname: <input type="text" name="vorname">
            Nachname: <input type="text" name="nachname">
            <input type="submit">
        </form>
    </body>
</html>